tensorboard_logs/
llm_adapted_captions/
filter_json
*.pyth
*.png
saved_models
runs
*.log
*__pycache__*
jobs
*.tar
*.tar.gz
*.zip
*.gzip
*_pretraining/
*.acc
*.pth
*.torch
*.pdf
.ipynb_checkpoints
*.jpg
experiment_*
inspect*
runs_*
metadata/
bert*
